*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
}

html{
    height: 100vh;
}

body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
}

img, picture, video, canvas, svg{
    display: block;
    max-width: 100%;
}

input, button, textarea, select{
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
}

#grid-container{
    width: clamp(400px, 50%, 550px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    aspect-ratio: 1/1;
    box-shadow: 0px 0px 10px 3px whitesmoke;
}

.cell{
    font-size: 6em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid whitesmoke;
}

.cell:hover{
    background-color: whitesmoke;
}